.driver-console{
    width: 800px;
    height: 800px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}
.header {
    /* Jeśli nagłówek ma stałą wysokość */
    flex: 0 0 auto; /* Niech zajmuje tyle miejsca, ile potrzebuje jego zawartość */
    /* Możesz też ustawić stałą wysokość np. height: 60px; */
}

.dashboard {
    flex: 1; /* Pozwól dashboardowi zająć całą pozostałą przestrzeń pionową */
    min-height: 0; /* Ważne dla flex item, aby nie ignorować wysokości */
}